@using battleshipBeta.Entities
@model List<ExcelObjectAI>
@{
    ViewData["Title"] = "AI Scores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info display-6" style="margin-top:25px; margin-bottom:25px; text-align:center;">AI Scores</h2>
<hr />


<table class="table table-bordered table-striped p-5">
    <tr class="bg-white text-dark">
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Mode</th>
        <th>Duration (Minute)</th>
        <th>Situation</th>
        <th>Date / Time</th>
    </tr>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Firstname</td>
                <td>@item.Lastname</td>
                <td>@item.Mode</td>
                <td>@(string.Format("{0:0.00}", item.Duration))</td>
                <td>
                    @if (@item.isUserWinner)
                    {
                        <p class="text-success">Winner<i class="icon-check ml-2"></i></p>
                    }
                    else
                    {
                        <p class="text-danger">Looser<i class="icon-times ml-2"></i></p>
                    }
                </td>
                <td>@(((DateTime)item.PlayedTime))</td>
            </tr>
        }
    </tbody>
</table>

<div class="alert alert-primary d-flex align-items-center mt-2" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0 -2z" />
      </svg>
      <div>
            The table above shows the Top 10 AI Mode results. Results are sorted by the Duration.
      </div>
</div>

